<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

   <connectionStrings>
    <!--<add name="pagosapp" connectionString="server=localhost;userid=root;password=;database=poloandsons;SslMode=none;Allow Zero Datetime=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="pagosapp" connectionString="server=100.42.52.206;userid=suit_polodbuser;password=SuitPolo2018;database=suit_poloservices;Convert Zero Datetime=True;SslMode=none;" providerName="System.Data.SqlClient" />-->
    <!--<add name="pagosapp" connectionString="server=100.42.52.206;userid=suit_polodbuser;password=SuitPolo2018;database=suit_erp;Convert Zero Datetime=True;SslMode=none;" providerName="System.Data.SqlClient" />-->
    <!--<add name="pagosapp" connectionString="server=localhost;userid=root;password=;database=suit_eficazpagos;SslMode=none;Allow Zero Datetime=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="pagosapp" connectionString="server=100.42.52.206;userid=suit_efiuser;password=efiuser2018;database=suit_eficazpagos;Convert Zero Datetime=True;SslMode=none;" providerName="System.Data.SqlClient" />-->
    <add name="pagosapp" connectionString="server=192.185.10.151;userid=suit_user;password=Suit2019PERU;database=suit_polo_dev_erp;Convert Zero Datetime=True;SslMode=none;" providerName="System.Data.SqlClient"/>
      
  </connectionStrings>
  
</configuration>